<div class="book-chat-wrap chat-hide">
    <div class="book-chat-close-wrap">
        <span class="book-chat-close-btn"></span>
    </div>
    <div class="register-user-wrap">
        <div class="register-user-row">
            <div class="register-input-wrap">
                <label for="register-name-input">Choose Name</label>
                <input id="register-name-input" type="text" />
            </div>
            <div class="register-controls-wrap">
                <button class="register-select-btn">Select</button>
                <button class="register-clear-btn">Exit chat</button>
            </div>
        </div>
    </div>
    <div class="chat-row">
        <div class="chat-messages-wrap">
            <div class="chat-column-title"><h4>Messages</h4></div>
            <div class="chat-messages"></div>
        </div>
        <div class="chat-users">
            <div class="chat-column-title"><h4 class="users-title">Users</h4></div>
            <div class="chat-users-column"></div>
        </div>
    </div>
    <div class="chat-keyboard-wrap">
        <textarea class="chat-keyboard" placeholder="your text ...."></textarea>
        <button class="chat-keyboard-send-btn">send</button>
    </div>
</div>